body{
    margin: 0px;
    padding: 0px;
}

header div{
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    height: 100px;
    position: relative;
    display: flex;
}

.header_container { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
  } 

.logo{
    
    margin-left: 10px;
    scale: 0.9;
    margin-right: 40px;
}

.number{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.number p{
    align-items: center;
    width: 150px;
    padding-left: 5px;
}

.header_elements ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    padding: 100px;
    margin-right: 400px;
}

.header_elements ul a{
    color: black;
    text-decoration: none;
    opacity: 0.65;
    transition:all .09s ease-in-out;
}

.header_elements ul a:hover{
    color: black;
    text-decoration: none;
    opacity: 1;
}

.submit_leasing_button button{
    display: flex;
    justify-content: center; 
    width: 100px;
    padding-left: 10px;
    border-radius: 100%;
    align-items: center;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 20px;
    padding: 5px;
    color: black;
    background-color: #ffffff;
    outline: 0 !important;
    border: 2px;
}

.submit_leasing_button button a{
    color: black;
    text-decoration: none;
}

.submit_leasing_button button:hover{
    color: white;
    background-color: black;
}


.selected_cars{
    justify-content: center;
    display: flex;
}



.selected_cars ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 100px;
}

.selected_cars ul a{
    text-decoration: none;
}

.main_page p{
    margin-bottom: 30px;
    font-size: 16px;
    text-align: center;
    padding-top: 115px;
}

.main_page h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 60px;
}

.background_image{
    text-align: center;
}

.background_image img{
    width: 1100px;
    padding-right: 235px;
    overflow: hidden;
}

main{
    background-color: #EEF1FB;
}

.type_of_car h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

.type_of_car ul{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
}

.type_of_car ul li{
    background-color: azure;
    list-style: none;
    padding: 52px 26px;
    border-radius: 16px;
    color: black;
}

.type_of_car ul li a{
    text-decoration: none;

}

.type_of_car{
    padding-bottom: 100px;
}

.content1{
    background-color: #E9F2FF;
    flex-direction: left;
}

.content2{
    background-color: #FFE9F3;
}

.sales_content{
    padding-bottom: 115px;

}